table {
    width: 100%;
}
.employee-list{
    h4{
        background-color: #1DA1F2;
        color: white;
        margin: 0px 3px 3px 0px;
    }
}
h6{
    color: #1DA1F2;
    font-weight: bold;
}
ul {
    list-style-type:none;
}
.btn {
    cursor: pointer;
}